{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Meal Generator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">



</head>
<body>


    
<nav class="navbar">
    <a href="{% url 'index' %}">College Meal Planner</a> <!-- ADD URL TO INDEX-->


    <div class="navbarright"> 
            {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'user_page' %}">PROFILE</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">LOGIN</a>
                <a class="dropdown-item" href="{% url 'register-page' %}">REGISTER</a>
            {% endif %}
    </div>
</nav>

</div> 
<div style="padding-top:50px"> 
</div>
 

    <div style="color:white; text-align:center; font-size: 50px; padding-top:50px;  background-color: white; background-image:url('https://wallpapercave.com/wp/wp10193108.jpg');   font-weight: 50;
    text-shadow: 2px 2px black;"> 

        Make Your Meal Plan!
    
    </div> 


    <div style="padding-top:50px"> 
    </div>

<div style="text-align:center; font-size: 50px; padding-top:5px;    "> 
<div class="container-fluid">

        <!-- add block content from html template -->
        {% block content %}
        {% endblock %}
   
</div>

<div style="padding-top:50px"> 
</div>
<img style="width: 100%; height: 200px; object-fit: cover;" src="https://wallpapers.com/images/hd/cooking-background-dg5u6vitzfnv3mrw.jpg" alt="Trulli" width="500" height="333">
</div>




</body>
</html>
