<!-- inherit from base.html-->
{% extends "meal_plan_app/base_template.html" %}
{% load static %}
{% load bootstrap5 %}

<!-- Replace block content in base_template.html -->
{% block content %}

<!-- meal_plan_detail.html -->
<h1>Generated Meal Plan</h1>
<ul>
    <h1>Meal Plan</h1>
    {% if meal_plan %}
        {% for meals in meal_plan.meal.all %}
            <h2>Day {{ day }}</h2>
            <ul>
                <li>{{ meals.name }}</li>
            </ul>
        {% endfor %}

        {% for meals in meal_plan.crazy_meal.all %}
            <h2>Day {{ day }}</h2>
            <ul>
                <li>{{ meals.name }}</li>
            </ul>
        {% endfor %}

    {% else %}
        <p>No meal plan available.</p>
    {% endif %}
</ul>


  
{% endblock %}